.main {
    /* padding:10px 0; */
    // max-width: 75rem;
    /* width: 75rem; */
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    min-width: 980px;
    position: relative;
    font-size: xx-large;

    .header {
        background: #fff;
        height: 100px;
    }



    .prizeBall {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #3b81cd;
        margin: 25px 15px 0 0;
        line-height: 50px;
        text-align: center;
        color: #fff;
    }

    .firstWord {
        width: 150px;
        height: 80px;
        background: #6c6cee;
        color: #fff;
        border-radius: 15px;
        text-align: center;
    }

    // .tableSvg {
    //     position: static;
    //     width: 100%;
    //     margin-top: 30px;
    // }





    .chart_svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg1_1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg1_2 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg2 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg3 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg4 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .chart_svg5 {
        position: absolute;
        top: 0;
        left: 0;
    }

    // 
    .ball_9 {
        background: rgb(204, 0, 0);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .shape {
        background: rgb(248, 99, 0);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .parity {
        background: rgb(42, 82, 127);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .prime {
        background: rgb(105, 131, 83);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .bit {
        background: rgb(0, 135, 34);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .lifting {
        background: rgb(248, 99, 0);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }
    .amplitude {
        background: rgb(30, 136, 238);
        border-radius: 50%;
        width: 21.25px;
        height: 21.25px;
        line-height: 21.25px;
        color: #fff;
        z-index: 999;
        margin: auto;
    }



    .list {
        position: relative;
        th {
            padding: 0px !important;
            // margin: 5px !important;
            text-align: center !important;
        }

        td {
            padding: 0px !important;
            // margin: 5px !important;
            text-align: center !important;
            font-size: 5px !important;
            width: 21.25px;
            height: 21.25px;
        }
    }
    .fiveGoList {
        position: relative;
        th {
            padding: 0px !important;
            // margin: 5px !important;
            text-align: center !important;
        }

        td {
            padding: 0px !important;
            // margin: 5px !important;
            text-align: center !important;
            font-size: 5px !important;
            width: 16px;
            height: 16px;
        }
    }
}

// ---------------------
.headerSelect {
    .ant-select-item-option-content {
        height: 60px;
        font-size: xx-large;
        line-height: 60px;
    }
}

// ---------------------
.trendSort {
    .trendImg {
        width: 80px;
        height: 80px;
        margin: 15px;
    }
}