.header{
    background: #fff;
    height: 40px;
}
.main{
    padding:10px 0;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}
.prizeBall{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3b81cd;
    margin: 10px 5px;
    line-height: 20px;
    text-align:center ;
    color: #fff;
}